<h1>Ndu's Page</h1>
<br />
<div class="row">
	<div class="col">
		<p>This button takes you to the home page.</p>
		<button class="btn btn-primary">
			<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
		</button>
	</div>
	<div class="col">
		<p>This button takes you to the privacy page.</p>
		<button class="btn btn-primary">
			<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</button>
	</div>
</div>

